.testClass {
  color: blue;
  font-size: 2em;
  font-weight: 600; }

.container {
  padding: 10%; }

.App {
  text-align: center; }

.App-logo {
  animation: App-logo-spin infinite 20s linear;
  height: 80px; }

.App-header {
  background-color: #222;
  height: 150px;
  padding: 20px;
  color: white; }
  .App-header .yellow {
    color: #ffed00; }
  .App-header .blue {
    color: #00c9ff; }
  .App-header .green {
    color: #64ff00; }

.App-title {
  font-size: 1.5em; }

.App-intro {
  font-size: large; }

@keyframes App-logo-spin {
  from {
    transform: rotate(0deg); }
  to {
    transform: rotate(360deg); } }

.display {
  display: block; }

.hidden {
  display: none; }

.progress {
  position: relative;
  height: 4px;
  display: block;
  width: 20% !important;
  background-color: black !important;
  border-radius: 2px;
  margin: .5rem 0 1rem 0;
  overflow: hidden;
  left: 40% !important;
  margin-top: 20%; }

.progress .indeterminate {
  background-color: #ffed00 !important; }
